.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.cart-item h2{
    margin: 0 0 0.5rem 0;
    color: #363636;
}

.summary{
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount{
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 6px;

}
.actions{
    display: flex;
    flex-direction: column;
}
